<h2>List of Posts</h2>
<hr>
<a href="/admin/posts/add">
	<button class="btn btn-success">New Post</button>
</a>

{{#each posts}}
	<div class="card mt-3">
		<div class="card-body">
			<h4>{{title}}</h4>
			<p>{{description}}</p>
			<small>Category: {{category.name}}</small><br>
			<small>Posted at: {{date}}</small>
			<br>
			
			<a href="/admin/posts/edit/{{_id}}">
				<button class="btn btn-success mt-3">Edit</button>
			</a>
			<form action="/admin/posts/delete" method="POST">
				<input type="hidden" name="id" value="{{_id}}">
				<button class="btn btn-danger mt-2">Delete</button>
			</form>
		</div>
	</div>

	{{else}}
	<h4 class="mt-4">No posts yet!</h4>
{{/each}}