<div class="card mt-3">
	<div class="card-body">
		<h1>{{post.title}}</h1>
		<small>Published at: {{post.date}}</small>
		<hr>
		<p class="text-start">{{post.description}}</p>
		<hr>
		<p class="text-start">{{post.content}}</p>
		<small>Category: {{category.name}}</small>
	</div>
</div>